{% extends "abstract-index.html" %}

{%block head%}
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ruda&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
{%endblock%}

{%block content%}
        
<main class="main">

  <section class="top">
    <div class="container">
      <div class="top__inner">
        <form class="top__booking-form" action="/booking" method="post">
          {% csrf_token %}
          <div class="top__form__calendar">
            <p class="top__calendar-text">Дата заезда</p>
            {{ range_date.start_date }}
          </div>
          <div class="top__form__calendar">
            <p class="top__calendar-text">Дата выезда</p>
            {{ range_date.end_date }}
          </div>
          <button class="top__booking-btn">
            Забронировать номер
          </button>
        </form>
        <img class="top__down-arrow" src="static/images/down-arrow.svg" alt="down arrow">
      </div>
    </div>
  </section>

  <section class="benefit">
    <div class="container">
      <div class="benefit__inner">
        <div class="benefit__item benefit__item--comfort">
          <h3 class="benefit__item-title">
            Комфортное проживание
          </h3>
          <ul class="benefit__menu-list">
            <li class="benefit__menu__list-item">
              Звукоизолированные номера
            </li>
            <li class="benefit__menu__list-item">
              Бесплатный Wi-Fi
            </li>
            <li class="benefit__menu__list-item">
              Кондиционер
            </li>
            <li class="benefit__menu__list-item">
              Отопление
            </li>
          </ul>
        </div>
        <div class="benefit__item benefit__item--sport">
          <h3 class="benefit__item-title">
            Спорт и досуг
          </h3>
          <ul class="benefit__menu-list">
            <li class="benefit__menu__list-item">
              Парашютный курорт поблизости
            </li>
            <li class="benefit__menu__list-item">
              Катание на лыжах
            </li>
            <li class="benefit__menu__list-item">
              Библиотека
            </li>
          </ul>
        </div>
        <div class="benefit__item benefit__item--camping">
          <h3 class="benefit__item-title">
            Отдых на природе
          </h3>
          <ul class="benefit__menu-list">
            <li class="benefit__menu__list-item">
              Принадлежности для барбекю
            </li>
            <li class="benefit__menu__list-item">
              Место для пикника
            </li>
            <li class="benefit__menu__list-item">
              Сад
            </li>
          </ul>
        </div>
        <div class="benefit__item benefit__item--service">
          <h3 class="benefit__item-title">
            Сервисы и обслуживание
          </h3>
          <ul class="benefit__menu-list">
            <li class="benefit__menu__list-item">
              Услуги по глажению одежды
            </li>
            <li class="benefit__menu__list-item">
              Факс/ксерокопирование
            </li>
            <li class="benefit__menu__list-item">
              Услуги консьержа
            </li>
          </ul>
        </div>
        <div class="benefit__item benefit__item--staff">
          <h3 class="benefit__item-title">
            Отличный персонал
          </h3>
          <ul class="benefit__menu-list">
            <li class="benefit__menu__list-item">
              Круглосуточная стойка регистрации
            </li>
            <li class="benefit__menu__list-item">
              Ежедневная уборка
            </li>
          </ul>
        </div>
        <div class="benefit__item benefit__item--security">
          <h3 class="benefit__item-title">
            Безопасность
          </h3>
          <ul class="benefit__menu-list">
            <li class="benefit__menu__list-item">
              Видеонаблюдение
            </li>
            <li class="benefit__menu__list-item">
              Круглосуточная охрана
            </li>
            <li class="benefit__menu__list-item">
              Охраняемая парковка
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="map">

    <div class="map__form">
      <h4 class="map__text">Мы на карте:</h4>
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A3662291550df2dbe84ec504c34b00a17389e54714da880db7e38f5e46ebb66db&amp;source=constructor"
        width="966" height="490" frameborder="0"></iframe>
    </div>

  </section>

</main>
<!-- <script src="js/main.min.js"></script> -->
<script src="{%static '/js/range_date.js'%}"></script>
{%endblock%}