{% extends "abstract-index.html" %}

{% block head %}
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ruda&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'css/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">

<link rel="stylesheet" href="{% static 'css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'css/booking.css' %}">

{% endblock %}

{% block content %}

<main class="main">
    <section class="booking-section">
        <div class="container">
            <form action="" method="post" class="booking-section__form" id="RangeDateFormId">
                {% csrf_token %}
                <h2 class="booking-section__title">
                    Бронирование номеров
                </h2>
                <div class="booking-section__date">
                    {% for form in range_date_form %}
                    <div class="booking-section__calendar">
                        <p class="booking-section__calendar-text">{{form.label}}</p>
                        {{form}}
                    </div>
                    {% endfor %}
                    <p class="booking-section__nights" id="nights">
                        Всего ночей: 0
                    </p>
                </div>
                {% for room, free_rooms in room_types %}
                <div class="booking-section__hotel-rooms">
                    <div class="booking-section__standard-single">
                        <div class="rooms__slider">
                            {% for image in room.images %}
                            <div class="rooms__slider-item">
                                <img class="rooms__slider-img" src="/media/{{image.image}}" alt="images">
                            </div>
                            {% endfor %}
                        </div>
                        <p class="available__rooms">Осталось номеров {{free_rooms}}</p>
                        <div class="middle__content">
                            <div class="top__info">
                                <h4 class="nameRoom">{{room.room_type}}</h4>
                                <p class="price__room">Цена за 1 ночь {{room.price}}р</p>
                            </div>
                            <p class="quantity__people">До {{room.capacity}} человек(а)</p>
                            <p class="info-txt">{{room.description}}</p>
                            <p class="more__info">Подробнее о номере</p>
                        </div>
                        <div class="right__content">
                            <p class="number__rooms-txt">Кол. номеров</p>
                            <select onchange="OnChangeRoomCount({{room.id}}, this)" id="rooms">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                            <p class="number__nights">Цена за 3 ночи</p>
                            <p class="final__price-of-room">{{room.price_for_3_nights}} р</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                <div class="booking-section__bottom">
                    <p class="result">ИТОГ: 6000₽</p>
                    <button onclick="ContinueOrder()" class="booking__btn">
                        Продолжить
                    </button>
                </div>
            </form>
        </div>        

    </section>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{%static '/js/slick.min.js'%}"></script>
<script src="{%static '/js/booking.js'%}"></script>
{% endblock %}