{% extends "abstract-index.html" %}

{%block head%}
{% load static %}
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ruda&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/booking.css' %}">

{%endblock%}

{%block content%}

<main class="main">
    <!-- {% for room in rooms %}
    <p>{{room.booked}} {{room.name}} {{room.last_name}} </p>
    {% if room.booked %}

    {% else %}

    {% endif%}

    {% endfor %} -->
    <section class="booking-section">
        <div class="container">
            <div class="booking-section__form">
                <h2 class="booking-section__title">
                    Бронирование номеров
                </h2>
                <div class="booking-section__date">
                    <div class="booking-section__calendar">
                        <p class="booking-section__calendar-text">Заезд</p>
                        <input class="booking-section__calendar-input" id="arrival" type="date">
                    </div>
                    <div class="booking-section__calendar">
                        <p class="booking-section__calendar-text">Выезд</p>
                        <input class="booking-section__calendar-input" id="departure" type="date">
                    </div>
                    <p class="booking-section__nights" id="nights">
                        Всего ночей: 0
                    </p>
                </div>
                <div class="booking-section__hotel-rooms">
                    <div class="booking-section__standard-single">
                        <img class="standard-single__image" src="static/images/content/single-room.jpg" alt="single room">
                        <div class="midle-info">
                            <h4 class="name-room">
                                Стандартный одноместный
                            </h4>
                            <p class="price-room">
                                Цена за 1 ночь 2000 р
                            </p>
                            <p class="standard-single__text">
                                Стандартный двухместный номер с собственным выходом на балкон и индивидуальным санузлом. Также в номере есть одна двухместная или две одноместные       кровати, телефон, телевизор, гардеробный шкаф, две прикроватные тумбочки и прочие предметы гостеприимства.
                            </p>
                            <p class="more">
                                подробнее
                            </p>
                        </div>
                        <div class="right__info">
                            <p class="number__rooms">Кол. номеров</p>
                            <select name="number" id="">
                            </select>
                            <p class="sum__price">
                                Цена за 0 ночи 0 рублей
                            </p>
                        </div>
                    </div>
                </div>
                <div class="booking-section__hotel-rooms">

                </div>
                <div class="booking-section__hotel-rooms">

                </div>
                <div class="booking-section__hotel-rooms">

                </div>
            </div>    
        </div>
    </section>
</main>

<script src="{%static  '/js/booking.js'%}"></script>
{%endblock%}
