.photo {
    width: 100px;
    height: 100px;
    border-radius: 1034px;
}

.debtors-block a {
    font-size: 2em;
}

.debtors-block {
    margin: 40px 0;
}

.hor-center
{
    position: relative;
    transform: translate(-50%);
    left: 50%;
}

.ver-center
{
    position: relative;
    transform: translate(0, -50%);
    top: 50%;
}